
@media screen and (max-width: 768px) {
  header a:not(:first-child) {
    display: none;
  }
  header a.icon {
    float: right;
    justify-content:right ;
    display: block;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  header.responsive {
    font-size: 20pt;
    position: relative;
  }
  header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .avatar, header h1 {
    display: none;
  }
}


* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20x;;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f9;
  overflow-x: hidden;
  color: #333;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 50px;
  background: #191e23;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px #00000033;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header a.active {
  background-color: #04AA6D;
  color: white;
}

header .icon {
  display: none;
}

header a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #59ab38;
}

.avatar {
  max-width: 50px;
  border-radius: 50%;
  padding: 8px;
}
.profileImg{
    float: left;
    max-width: 100px;
    border-radius: 50%;
    padding: 8px;
}

h4 {
  padding-bottom: 5px;
}
footer {
  text-align: center;
  padding: 30px 0;
  background: #191e23;
  color: #ffffff;
}

footer a {
  color: #59ab38;
  text-decoration: none;
}

/* Hero CSS content section */

.hero {
  text-align: center;
  padding: 100px 20px;
  background-image: url(./img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
  color: #fff;    
  position: relative;
  overflow: hidden;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 2px #000;
}

.hero p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto 30px auto;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 2px #000;
}

.hero a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #ffffff;
  color: #1f1f2e;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
}

.hero a:hover {
  background-color: #59ab38;
  color: #ffffff;
}

/* Content box css  */

.content {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
}

.content h3 {
  font-size: 24px;
  margin-top: 0;
  padding-bottom: 8px;
  position: relative;
}
.content p{
    padding: 20px;
}

/* Empty css container and wrapper for flexbox and sidebar   */

.empty-container {
  padding: 50px 20px;
  margin: 50px auto;
  max-width: 800px;
}

.wrapper {
  display: flex;
  margin: auto;
}

.main-content {
  flex: 1;
  padding: 8px;
}

.sidebar {
  flex: 0 1 300px;
  padding: 8px;
  background-color: #c4cacf;
  border-radius: 8px;
}
/* Defining the grid and card used for the project section and the load more button*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-card {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
  position: relative;
  overflow: hidden;
}

.grid-card img {
  max-width: 100%;
  padding-bottom: 8px;
}

.grid-card:hover {
  transform: scale(1.05);
  opacity: 0.8;
  background-color: #59ab38;
}

.load-more {
  text-align: center;
  margin-top: 20px;
}

.load-more button {
  padding: 10px 20px;
  background-color: #1f1f2e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more button:hover {
  background-color: #59ab38;
}

/* Contact form CSS */

.contact {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact label,
.contact input,
.contact textarea {
  resize: none;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.contact textarea {
  height: 150px;
}

/* Social buttons styles */

.social-buttons {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  margin: 5px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.social-button:hover {
  opacity: 0.8;
  color: #fff;
}

/* I wont use them all but I wanted to add the majority of socials in a linktree kinda fashion*/

.github {
  background-color: #333333; /* GitHub's signature color */
}

.stackoverflow {
  background-color: #f48024; /* Stackoverflows signature orange color*/
}

.medium {
  background-color: #242424; /* Mediums signature dark grey color */
}

.linkedin {
  background-color: #2564ad; /* Linkedins signature blue color */
}

.twitter {
  background-color: #1da1f2; /* Twitter's signature color */
}

.mastodon {
  background-color: #584cc4; /* Mastodon's signature purple color */
}

.bsky {
  background-color: #0185ff; /* Blueskys signature blue color */
}

.youtube {
  background-color: #ff0000; /* YouTube's signature red color */
}

.tiktok {
  background: linear-gradient(
    to right,
    #25f4ee,
    #fe2c55
  ); /* Getting fancy with it and adding a gradient since tiktok uses two*/
}
